<div class="w-1/4 mx-auto mt-10">
  <form class="" [formGroup]="formContacto" (submit)="sendContact()">
    <div class="flex items-center">
      <label for="text" class="flex mb-2 font-medium mr-2">Nombre: </label>
      <input
        type="text"
        id="text"
        formControlName="nombre"
        class="border border-gray-300 text-sm rounded-lg block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    <div *ngIf="formContacto.get('nombre')?.errors && formContacto.get('nombre')?.touched" [ngStyle]="{'color':'red'}">
      <div *ngIf="this.formContacto.get('nombre')?.errors?.['required']">
        (El nombre no puede quedar vacío)
      </div>
      <div *ngIf="this.formContacto.get('nombre')?.errors?.['minlength']">
        (Debe tener como mínimo 10 caracteres)
      </div>
    </div>
    <div class="mt-6 flex items-center">
      <label for="email" class="flex mb-2 font-medium mr-7">Email: </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="name@flowbite.com"
      />
    </div>
    <div *ngIf="formContacto.get('email')?.errors && formContacto.get('email')?.touched" [ngStyle]="{'color':'red'}">
      <div *ngIf="this.formContacto.get('email')?.errors?.['required']">
        (El Email no puede quedar vacío)
      </div>
      <div *ngIf="this.formContacto.get('email')?.errors?.['email']" >
        (El E mail no es válido)
      </div>
    </div>

    <div class="mt-6">
      <label for="message" class="block mb-2 text-sm font-medium"
        >Mensaje</label
      >
      <textarea
        id="message"
        formControlName="mensaje"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Escribe tu mensaje..."
      ></textarea>
    </div>
    <div *ngIf="formContacto.get('mensaje')?.errors && formContacto.get('mensaje')?.touched" [ngStyle]="{'color':'red'}">
      <div *ngIf="this.formContacto.get('mensaje')?.errors?.['required']">
        (El Mensaje no puede quedar vacío)
      </div>
    </div>
   <div class="mt-6">
     <button
      type="submit"
      
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Confirmar
    </button>
   </div>
  </form>
  <div class="mt-4 flex justify-center">
    <div [ngStyle]="{'background-color':'black','color':'white','font-size':'18px'}">{{ resultado }}</div>
  </div>
</div>
